#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  background-image: url('/public/image/vestrahorn-mountains-stokksnes-iceland.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden;
  min-height: 100%;  /* Ensures full height coverage even on scroll */
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/public/image/vestrahorn-mountains-stokksnes-iceland.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;  /* Ensure it's behind content */
}

.app-overlay {
  position: fixed; /* Fixed position so it stays in place while scrolling */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1; /* Ensure the overlay is above the background image */
  pointer-events: none; /* Optional: Allow interactions with elements underneath the overlay */
}


.app-content {
  position: relative;
  z-index: 2; /* Ensure the content is above the overlay */
  min-height: 100%; /* Ensure content area takes full height */
}

/* Responsive Styles */
@media (max-width: 768px) {
  body {
    padding-top: 30px; /* Reduce padding on smaller screens */
  }

  .app-content {
    padding: 20px; /* Add padding around content */
  }

  .app-overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Darker overlay for smaller screens */
  }
}

@media (max-width: 480px) {
  body {
    padding-top: 20px; /* Further reduce padding for very small screens */
  }

  .app-content {
    padding: 10px; /* Adjust content padding */
  }

  .background-container {
    background-position: top center; /* Adjust background for smaller screens */
  }
}




html{
  direction: rtl;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
